$sans: 'Proxima Nova', proxima-nova, Helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  margin: 4rem auto;
}



h1 {
  text-align: center;
  flex: 1 100%;
  margin: 1.75rem 0 1.25rem;
  font-family: $sans;
  font-size: 4rem;
  padding: .5rem 0;


}

h3 {
  font-family: $sans;
  font-size: 2rem;
  flex: 1 100%;
  margin: 4rem 0;
  text-align: center;
  min-height: 20px;
  display: none;
}


.options--row {
  flex: 1 100%;
  text-align: center;
  position: relative; //This prevents window jumping since inputs are hidden in accessible way
}

#file-select, #totals-label, #right-column-toggle {

	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file-select + label, #totals-label + label, #right-column-toggle + label {
  font-size: 1.25rem;
  background: #3C887E;
  border-radius: 2px;
  color: #fff;
  font-family: $sans;
  padding: .5rem 1rem;
  cursor: pointer;
  margin: 0 1rem;
}

#totals-label + label , #right-column-toggle + label{
  background: #197BBD;
}

#totals-label:checked + label, #right-column-toggle:checked + label {
  background: #125E8A;
}

ul.graph-container {
  margin: .75rem 0;
  list-style: none;

  &#vis-container {
    //flex: 0 85%;
    flex-grow: 1;
  }

  &#unit-comparison {
    //flex: 0 15%;
    flex-grow: 1;
  }

  li {
    font-family: $sans;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 0;


    div.row--label {
      //display: inline-block;
      flex-basis: 20%;
      text-align: right;
      margin: 0 1rem 0 0;
      padding: 0 .25rem;
      box-sizing: border-box;
    }

    .svg--container {
      //display: inline-block;
      flex-basis: 75%;
    }

    .row--totals {
      //flex-basis: 15%;
      font-size: 0.85rem;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      vertical-align: top;
      margin-left: 1.25rem;
      //top: -5px;
      //letter-spacing: 0.1rem;
    }
  }
}

.editing {
  background: #F1E4E8
}

svg {
  width: 3.5rem;
  //height: 2rem;
  //transform: scale3d(2,2,2);
  margin-right: -1.25rem;

  &:last-of-type {
    // 30% is the height from top that it will be clipped. Should be controlled
    // by the remainder of the percentage calc in the JS

    //clip-path: polygon(100% 30%, 100% 100%, 0% 100%, 0 30%);
    //clip-path: inset(100% 30% 100% 30%)
  }
}

#unit-comparison li {
  font-size: 0.75rem;
  //text-transform: uppercase;
  font-weight: 300;
  padding-top: 1.25rem;

  div {
    padding-right: 1.25rem;
  }
}

p#symbol-value {
  font-family: $sans;
  display: block;
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}
